body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background-color: black;
}
.box{    
    height: 60vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
    justify-content: center;    
    gap: 5%;
    font-size: 1.16em;
    font-weight: 500;
    background-color: #262626;
    color: white;
    border-radius: 3%;
}
.space{
    height: 30%;
}
.font {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;    
    font-style: normal;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #pswrd{
    font-size: 1.1em;
    font-weight: 300;
    background-color: #262626;
    color: white;
    border: 1px solid white;
    border-radius: 3px;    
  }
  .btn{
    width: 40%;
    height: 40%;
    padding: 2%;
    font-weight: 600;
    font-size: 1.05em;
    border: 1px solid #FF004D;
    border-radius: 6px; 
    background-color: #FF004D;
    color: white;
  }